@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  font-family: "Rubik", serif;
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: #000000;
  color: white;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  border: none;
  background: transparent;
  width: 50px;
  height: 26px;
  top: 26px;
  left: 50px;
  filter: brightness(0) invert(1);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #0d1421;
}

nav > img {
  width: 200px;
  position: absolute;
  top: -60px;
  right: 40px;
  filter: brightness(0) invert(1);
}
.menu-img {
  position: absolute;
  top: -10px;
  left: -10px;
}

.menu-list {
  font-family: "Rubik", serif;
  font-weight: 500;
  top: 0px;
  left: 0;
  position: absolute;
  display: grid;
  gap: 10px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0d1421e3;;
  list-style-type: none;
  transform: translateY(-100%);
  transition: 0.3s;
  height: 720px;
}

.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 25px;
  text-align: left;
  text-decoration: none;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

hr {
  background-color: white;
  border-radius: 50px;
  height: 5px;
}

.active {
  background-color: rgb(255, 255, 255);
  color: #0d1421e3;
  pointer-events: none;
}

.active::before {
  content: "❖ ";
}

.entete {
  margin-top: 30px;
  background-repeat:repeat;
  background-image: url(../img/back_img.jpg);
  height: 400px;
  background-position: center;
  background-size: contain;
  -webkit-box-shadow: 0px 14px 19px 1px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0px 14px 19px 1px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 14px 19px 1px rgba(0, 0, 0, 0.89);
}

h1 {
  margin-bottom: 30px;
  color: #021232e3;
  font-size: 50px;
  width: fit-content;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    97deg,
    #080d15 0%,
    rgba(255, 255, 255, 0.735) 6%,
    rgba(255, 255, 255, 0.893) 49%,
    rgba(255, 255, 255, 0.653) 95%,
    #070b13fb 100%
  );
  border-radius: 40px;
}

h2 {
  width: fit-content;
  padding: 0 15px;
  background: linear-gradient(
    97deg,
    #080d15 0%,
    rgba(255, 255, 255, 1) 6%,
    rgba(255, 255, 255, 0.9561011904761905) 49%,
    rgba(255, 255, 255, 1) 95%,
    #080d15 100%
  );
}
.wrapper {
  border: 2px white solid;
  border-radius: 20px;
  padding: 2em;
  margin-top: 30px;
  height: 100%;
  width: 85%;
  background-color: #0d1421;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapper p {
  font-weight: 100;
  color: white;
  
}

footer {
  margin-top: 100px;
  padding: 30px;
  background-color: #0d1421;
  color: white;
  
}
footer p {
  font-weight: 100;}
